* {
  box-sizing: border-box;
}

html {
 font-family: sans-serif;
 -webkit-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%
}

body {
 background-color : #F5F5F5;
 font-family: 'Neue Haas Unica W1G', 'Helvetica Neue','Neue Haas Grotesk', 'Helvetica', 'Arial', sans-serif;
/* font-feature-settings: "ss02";*/
 font-size : 1.0em
 color : #000000;
 padding: 10px;
 height: 90%;
 width: 90%;
 }

.header, .footer {
  color: #000000;
  padding: 10px;
}

li a {
  display: block;
  text-decoration: none;
}

h1  {font-size : 1.4em;
 font-style : normal;
 font-weight: bold;

 }

h2  {font-size : 1.25em;
 font-style : normal;
 font-weight: bold;

 }

h3  {font-size : 1.1em;
 font-style : italic;
 font-weight: normal;
}

h1, h3{
 display: inline;
}

p {font-size : 1em;
 font-style : normal;
 font-weight: normal;
 line-height: 1.4;
 max-width:1050px;
 }

p2 {font-size : 0.9em;
 font-style : normal;
 font-weight: normal;
 line-height: 1.4;
 max-width:1050px;
 }


a:link {
 color : #000000;
 text-decoration: none;
 font-style : italic;
}

a:visited {
 color: #000000;
 text-decoration: none;
 font-style : italic
}

a:hover {
 text-decoration: underline;
}

a:active {
  font-weight: bold;
  font-style: normal;
}

img.one{
    padding:1px;
    width:100%;
    max-width:910px;
    max-height:1500px;
}

img.two {
    padding:1px;
    max-width:55%;
}


